style.css::placeholder {
    text-align: center;
    font-size: 14px;
    color: gray;
    background-position: 40%;
    background-size: 6%;
}

input.empty {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    background-color: #FAFAFA;
}

.postuserfont {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: black;
}


.storyphoto {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid rgb(238, 39, 82);
    margin-right: 7px;
}

.storytext {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: black;
}

.rightpanellinks {
    text-decoration: none;
    color: lightgrey;
}

.rightpanellinks:hover {
    text-decoration: none;
    color: lightgrey;
}
@media screen and (min-width: 0px) and (max-width: 767px) 
{
    .navbarsearch {
    visibility: hidden;
    }
}
.navbarimage
{
    width: 50px; /* İstenilen genişlik */
    height: 50px; /* İstenilen yükseklik */
    border-radius: 50%;
    object-fit:cover;
    margin-left: 15px;
}
.rightimage
{
    width: 100px; /* İstenilen genişlik */
    height: 50px; /* İstenilen yükseklik */
    border-radius: 50%;
    object-fit:cover;
    margin-left: 15px;
}
/* 1400 */
@media screen and (min-width:0px) and (max-width: 1400px) 
{
    .storyadd {
    display: none;
    }
}
/* 1200 */
@media screen and (min-width:0px) and (max-width: 1200px) 
{
    .storyaddiki {
    display: none;
    }
}
/* 992 */
@media screen and (min-width:0px) and (max-width: 992px) 
{
    .storyadduc {
    display: none;
    }
}/* 769 */
@media screen and (min-width:0px) and (max-width: 769px) 
{
    .storyfive {
    display: none;
    }
}
/* 475 */
@media screen and (min-width:0px) and (max-width: 475px) 
{
    .storyadddort {
    display: none;
    }
}
/* 415 */
@media screen and (min-width:0px) and (max-width: 415px) 
{
    .storyaddbes {
    display: none;
    }
}/* medium ortalama */
@media screen and (min-width:576px) and (max-width: 767px) 
{
    .mediumcenter {
        justify-content: center;
    }
}
.postimg
{
    width: 60px; /* İstenilen genişlik */
    height: 60px; /* İstenilen yükseklik */
    border-radius: 50%;
    object-fit:cover;
    
}
.text-container {
    display: inline-block; /* Metni resmin yanına yerleştirmek için */
    vertical-align: top;   /* Dikey hizalamayı üste almak için */
    margin-left: 10px;     /* İsteğe bağlı: Metin ve resim arasına bir boşluk bırakmak için */
}
.textpage
{
    list-style-type:none;
}
.postimage2
{
    width: 25px; /* İstenilen genişlik */
    height: 25px; /* İstenilen yükseklik */
    border-radius: 50%;
    object-fit:cover;
}
